Test/Schemas/postSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/postSchema" xmlns:tns="http://www.example.org/postSchema" elementFormDefault="qualified">

    <element name="root">
    	<complexType>
    		<sequence>
    			<element name="head" maxOccurs="unbounded">
    				<complexType>
    					<sequence>
    						<element name="key" type="string"></element>
    						<element name="value" type="string"></element>
    					</sequence>
    				</complexType></element>
    		</sequence>
    	</complexType></element>
</schema>